<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Кошик</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<div class="container">
    <h2>Кошик</h2>

    <div th:if="${cart.items.size() == 0}">
        <p>Ваш кошик порожній.</p>
    </div>

    <table class="table" th:if="${cart.items.size() > 0}">
        <thead>
        <tr>
            <th>Товар</th>
            <th>Кількість</th>
            <th>Ціна</th>
            <th>Сума</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cart.items}">
            <td th:text="${item.product.name}">Назва товару</td>
            <td th:text="${item.quantity}">Кількість</td>
            <td th:text="${item.product.price}">Ціна</td>
            <td th:text="${item.product.price * item.quantity}">Сума</td>
        </tr>
        </tbody>
    </table>

    <div th:if="${cart.items.size() > 0}">


        <form th:action="@{/order/submit}" method="post">
            <div class="mb-3">
                <label for="contactInfo" class="form-label">Ваші контактні дані:</label>
                <input type="text" class="form-control" id="contactInfo" name="contactInfo" placeholder="Введіть ваш email або telegram" required>
            </div>

            <form th:action="@{/order/submit}" method="post">
                <button type="submit" class="btn btn-primary">Оформити замовлення</button>
            </form>
        </form>
    </div>
</div>
<div th:insert="~{blocks/footer :: footer}"></div>
</body>
</html>
